#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./images/city.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.card {
  background-color: whitesmoke;
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 5px 5px;

}

.heading {
  display: flex;
  align-items: center;
  height: 580px;
  font-family: 'Roboto Condensed', sans-serif;
}

.button {
  background: #fff;
  color: royalblue;
  border: 2px solid royalblue;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  transition: color 400ms;
  width: 300px;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: royalblue;
  z-index: -1;
  transition: transform 400ms ease-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:hover {
  color: #fff;
}

@media only screen and (max-width:600px) {
  .card {
    width: 80%;
    height: 30%;
  }
}